body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}

/* .table-responsive {
    margin: 30px 0;
} */

 .table-responsive{
    margin-left: auto;
} 

.table-wrapper {
    min-width: 1000px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
}

.table-title h2 {
    margin: 6px 0 0;
    font-size: 22px;
}

.table-title .add-new {
    float: right;
    height: 30px;
    font-weight: bold;
    font-size: 12px;
    text-shadow: none;
    min-width: 100px;
    border-radius: 50px;
    line-height: 13px;
}

.table-title .add-new i {
    margin-right: 4px;
}

.search-box {
    position: relative;
    float: right;
}

.search-box input {
    height: 34px;
    border-radius: 20px;
    padding-left: 35px;
    border-color: #ddd;
    box-shadow: none;
}

.search-box input:focus {
    border-color: #3FBAE4;
}

.search-box i {
    color: #a0a5b1;
    position: absolute;
    font-size: 19px;
    top: 8px;
    left: 26px;
}

table.table tr th,
table.table tr td {
    border-color: #e9e9e9;
}

table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fcfcfc;
}

table.table-striped.table-hover tbody tr:hover {
    background: #f5f5f5;
}

table.table th i {
    font-size: 13px;
    margin: 0 5px;
    cursor: pointer;
}

table.table td:last-child {
    width: 130px;
}

table.table td a {
    color: #a0a5b1;
    display: inline-block;
    margin: 0 5px;
}

table.table td a.view {
    color: #03A9F4;
}

table.table td a.edit {
    color: #FFC107;
}

table.table td a.delete {
    color: #E34724;
}

table.table td i {
    font-size: 19px;
}

.pagination {
    float: right;
    margin: 0 0 5px;
}

.pagination li a {
    border: none;
    font-size: 95%;
    width: 30px;
    height: 30px;
    color: #999;
    margin: 0 2px;
    line-height: 30px;
    border-radius: 30px !important;
    text-align: center;
    padding: 0;
}

.pagination li a:hover {
    color: #666;
}

.pagination li.active a {
    background: #03A9F4;
}

.pagination li.active a:hover {
    background: #0397d6;
}

.pagination li.disabled i {
    color: #ccc;
}

.pagination li i {
    font-size: 16px;
    padding-top: 6px
}

.hint-text {
    float: left;
    margin-top: 6px;
    font-size: 95%;
}
tr,th{
    text-align: center;
}
tr img{
    width: 50px;
}

/* confirm delete  pop up*/
.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
	color: #f15e5e;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #c1c1c1;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #a8a8a8;
}
.modal-confirm .btn-danger {
	background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #ee3535;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    margin-left: 10px;
    left: 0;
    z-index: 100;
    padding: 4px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.dropdownUser{
    margin-top: 252px;
}

/* modal add product */
body {
    color: #566787;
    background: #f5f5f5;
    font-family: "Varela Round", sans-serif;
}
.form-control {
    border-color: #e5e5e5;
    box-shadow: none;
}
.form-control:focus {
    border-color: #0cb4aa;
}
.contact-modal {
    width: 45%;
    /* margin: 0px 0px 0px auto; */
}
.contact-modal h4 {
    font-size: 26px;
    display: inline-block;
}
.contact-modal .form-control, .contact-modal .btn  {
    min-height: 38px;
    border-radius: 1px;
    outline: none;
    border-radius: 2px;
    transition: all 0.5s;
}
.contact-modal textarea {
    height: 144px;
}
.contact-modal .btn-info {
    min-width: 120px;
}
.contact-modal .btn-link {
    color: #17a2b8;
    /* text-align: left; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1px;
    background-color: #80808042;
    /* padding: 10px; */
    margin-top: 9px;
    min-width: 120px;
    border-radius: 2px;
    transition: all 0.5s;
}
.contact-modal label {
    opacity: 0.9;
    font-weight: normal;
    font-size: 95%;
    color: #0d3478;
}
.contact-modal textarea {
    resize: vertical;
}
.contact-modal .modal-header {
    padding: 20px 35px 15px;
}
.contact-modal .modal-content {
    border-radius: 1px;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
   flex-wrap:nowrap;
    /* flex-wrap: wrap; */
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 0.75rem;
    border-top: 1px solid #dee2e6;
    border-bottom-right-radius: calc(0.3rem - 1px);
    border-bottom-left-radius: calc(0.3rem - 1px);
}
.contact-modal .close {
    position: absolute;
    right: 35px;
    top: 25px;
}
.contact-modal .modal-body {
    padding: 25px 35px 15px;
}
.hint-text {
    opacity: 0.8;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* .contact-modal .form-control, .contact-modal .btn {
    min-height: 38px;
    border-radius: 1px;
    outline: none;
    border-radius: 2px;
    transition: all 0.5s;
} */
thead:hover{
    cursor: pointer;
}
thead th.active,tbody td.active {
  color: #0d6efd ; 
}
thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}